@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    margin-top: 400px;
    background-color: #787676;
    text-align: center;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}