<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>

<body>
    <div class="container">
        <div class="primera">
            <div class="image-container">
                <img src="../storage/img/vestido.png" alt="" class="dress">
            </div>

            <div class="content">
                <h2 class="title">Light Dress Bless</h2>
                <div class="rating">
                    ⭐ 5.0 <span class="reviews">(7,932 reviews)</span>

                    <div class="quantity">
                        <button class="decrease">−</button>
                        <span class="count">1</span>
                        <button class="increase">+</button>
                    </div>
                </div>
            </div>

            <p class="description">
                Its simple and elegant shape makes it perfect for those of you who like minimalist clothes
                <span class="read-more">Read More...</span>
            </p>

            <div class="options-container">
                <div class="size-selector">
                    <h4>Choose Size</h4>
                    <div class="sizes">
                        <button class="size">S</button>
                        <button class="size">M</button>
                        <button class="size active">L</button>
                        <button class="size">XL</button>
                    </div>
                </div>

                <div class="color-selector">
                    <h4>Color</h4>
                    <div class="colors">
                        <button class="color" style="background: #888;"></button>
                        <button class="color" style="background: #555;"></button>
                        <button class="color" style="background: #000;"></button>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <a href="../views/checkout.html" class="footer">
                <span class="cart-icon">🛒</span>
                <span>Add to Cart</span> |
                <span class="price">$162.99</span>
                <span class="old-price">$199.99</span>
            </a>
        </footer>


        <script src="../js/detail.js"></script>
    </div>

</body>

</html>