<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="../storage/img/vestido.png" alt="" class="dress">
        </div>

        <div class="content">
            <div class="rating">
                ⭐ 5.0 <span class="reviews">(7,932 reviews)</span>
            </div>
            <h2 class="title">Light Dress Bless</h2>
            <p class="description">
                Its simple and elegant shape makes it perfect for those of you who like minimalist clothes 
                <span class="read-more">Read More...</span>
            </p>
            <div class="bottom">
                <div class="quantity">
                    <button class="minus">−</button>
                    <span class="count">1</span>
                    <button class="plus">+</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>