<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">

</head>

<body>
    <header>
        <div class="Hello">
        <h2>Hello, Welcome 👋</h2>
        <h1>Albert Stevano</h1>
        </div>
        <div class="profile-icon">
            <img src="../storage/img/Profile.png" alt="">
        </div>

    </header>

    <div class="container">
        <div class="buscar-wrapper">
            <img src="../storage/img/Search.png" alt="">
            <input type="text" id="buscar" placeholder="Search clothes..." class="buscar-input">
        </div>
        <ul id="results" class="results"></ul>
    </div>
    <script src="../js/home.js"></script>
    
    <div class="carousel-container">
        <div class="carousel">
            <div class="category selected"><img src="../storage/img/all.png" alt="">All Items</div>
            <div class="category"><img src="../storage/img/dress.png" alt="">Dress</div>
            <div class="category"><img src="../storage/img/t-shirt.png" alt="">T-Shirt</div>
            <div class="category"><img src="../storage/img/jean.png" alt="">Jeans</div>
        </div>
    </div>
    
    <div class="imagenes">
            <div>
                <div class="Camisa1">
                    <img src="../storage/img/Shirt1.png" alt="">
                </div>
                    <div class="texto">
                        <div class="text">Modern Light Shirt</div>
                        <div class="Type">T-Shirt</div>
                        
                        <div class="Price"><strong>$13,99</strong></div>
                        <div class="rating1">
                            <span>⭐ 4.8</span>
                    </div>
                </div>
            </div>

            <div>
                <div class="Jean1">
                    <img src="../storage/img/Jean1.png" alt="">
                </div>
                <div class="texto">
                
                    <div class="text">Grunge Punk Jeans</div>
                    <div class="Type">Jeans</div>

                    <div class="idk">
                    <div class="Price"><strong>$19,55</strong></div>
                    <div class="rating2">
                        <p>⭐ 4.91</p>
                    </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="Dress1">
                    <img src="../storage/img/Vestido1.png" alt="">
                </div>
                <div class="texto">
    
                    <div class="text">Tight Knit Dress</div>
                    <div class="Type">Dress</div>
                    
                    <div class="Price"><strong>$14,00</strong></div>
                    <div class="rating1">
                        <span>⭐ 4.9</span>
                    </div>
                    
                </div>
            </div>

            <div>
                <div class="Shirt2">
                    <img src="../storage/img/Shirt2.png" alt="">
                </div>
                <div class="texto">
    
                    <div class="text">Modern Shadow Shirt</div>
                    <div class="Type">T-Shirt</div>
                    <div class="idk">
                    <div class="Price"><strong>$12,99</strong></div>
                    <div class="rating2">
                        <span>⭐ 5.0</span>
                    </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="Jean2">
                    <img src="../storage/img/Jean2.png" alt="">
                </div>
                <div class="texto">
    
                    <div class="text">Grunge Punk Jean</div>
                    <div class="Type">Jeans</div>
                   
                    <div class="Price"><strong>$18,99</strong></div>
                    <div class="rating1">
                        <span>⭐ 4.92</span>
                    </div>
                    
                </div>
            </div>

            <div>
                <div class="Dress2">
                    <img src="../storage/img/Vestido2.png" alt="">
                </div>
                <div class="texto">
    
                    <div class="text">Short Party Dress</div>
                    <div class="Type">Dress</div>
                    <div class="idk">
                    <div class="Price"><strong>$20,00</strong></div>
                    <div class="rating2">
                        <span>⭐ 5.0</span>
                    </div>
                    </div>
                </div>

            </div>
         </div>
        
    </div>
</body>

</html>
