<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">

</head>

<body>
    <header>
        <div class="Hello">
        <h2>Hello, Welcome 👋</h2>
        <h1>Albert Stevano</h1>
        </div>
        <div class="profile-icon">
            <img src="../storage/img/Profile.png" alt="">
        </div>

    </header>

    <div class="container">
        <div class="buscar-wrapper">
            <img src="../storage/img/Search.png" alt="">
            <input type="text" id="buscar" placeholder="Search clothes..." class="buscar-input">
        </div>
        <ul id="results" class="results"></ul>
    </div>
    <script src="../js/home.js"></script>
    
    <div class="carousel-container">
        <div class="carousel">
            <div class="category selected"><img src="../storage/img/all.png" alt="">All Items</div>
            <div class="category"><img src="../storage/img/dress.png" alt="">Dress</div>
            <div class="category"><img src="../storage/img/t-shirt.png" alt="">T-Shirt</div>
            <div class="category"><img src="../storage/img/jean.png" alt="">Jean</div>
        </div>
        
    </div>
    
</body>

</html>
